
	<div class="container" style="margin-top: 20px; min-height:500px" >
		<div class="row">
			<div class="col">
				<div     >

					<h1>FREQUENTLY ASKED QUESTIONS</h1>
					<div  *ngFor="let faq of faqs; let i =index "  >
						<div class="accordion" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button"
										data-bs-toggle="collapse" data-bs-target="#collapseOne"   
										aria-expanded="true" aria-controls="collapseOne"
										>
										{{faq.question}}
										</button>
										
										
								</h2>
								<div id="collapseOne"  class="accordion-collapse collapse show"
									aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<strong class="response">
											{{faq.response}}
										</strong>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				
				
			</div>
		</div>
	</div>



 
 