
	<div class="container"
		style=" min-height:460px; justify-content: center;">
		<div class="row">
			<div class="col">
				<h1 >About Phil </h1>
				<div class="p-2">
					<!-- Form for contact us  -->
						<div class="row">
						<p>
						
						

Phil is an artist who lives and works in Milton, Ontario, Canada. His distinctive personal style of customized shoes emanates joy and expresses the vibrant spirit. Besides being an artist, he is also a youth care practitioner and works with youth in sicks building. He started his own business in Canada and has his shoe salon in his house in Milton.

Phil began sketching shoes about 11 years ago and works on canvas, shoes, and various types of art products. When interviewed he mentioned that “I paint what I love and love what I paint”

He designs shoes for people between 10- 30 years and repair shoes for people who are 30 above. His clients are from Canada, USA, India. 

						</p>
						</div>
				
				</div>

				<!-- Image here- -->
			</div>
			<div class="col" style="margin-top:60px">

				

				<img class="heroimage" style="max-width: 70%;"
					src="assets/images/Phil.jpg">
				<img >
				
				
			</div>	
		</div>

	</div>

