<!-- 
	<div class="container"
		style=" min-height:460px; justify-content: center;">
		<div class="row">
			<div class="col">
				<h1 >About Phil </h1>
				<div class="p-2">
						<div class="row">
						<p>
						
		


						</p>
						</div>
				
				</div>

			</div>
			<div class="col" style="margin-top:60px">

				

				<img class="heroimage" style="max-width: 70%;"
					src="assets/images/Phil.jpg">
				<img >
				
				
			</div>	
		</div>

	</div>
 -->
 <div class="main">
<div class="container">
	<h1>Phil</h1>
	<h2>“I paint what I love and love what I paint”</h2>
	<div class="image">
		<img src="assets/images/Phil.jpg" alt="A bit about me" />
	</div>
	<p class="mainText">
		I am an artist who lives and works in Milton, Ontario, Canada. My distinctive personal style of customized shoes
		emanates joy and expresses the vibrant spirit. Besides being an artist, I am also a youth care practitioner and
		works with youth in sicks building. I started my own business in Canada and has my shoe salon in my house in
		Milton.
		I began sketching shoes about 11 years ago and works on canvas, shoes, and various types of art products.

		I have got clients from multiple parts of the world including Canada, USA, India.
	</p>

</div>
</div>