
	<div class="container"
		style="margin-top: 20px; min-height: 500px; justify-content: center;">
		<div class="row" style=" background-image: linear-gradient(to right,#000428 ,#004e92);padding:30px; border:1px solid grey; border-radius:20px; ">
			<div class="col fadeInDown" >

				<h2>Login</h2>
				<h2>{{errorMsg}}</h2>
				<div class="p-2">
				<!-- The ng-submit directive specifies a function to run when the form is submitted.  -->
					<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" style="justify-content:center;">
			
						<div class="form-group">
							<div class="mb-3">
							 
								
									<input type="text"
									ngModel 
									name="userName"  
									id="userName" required
									placeHolder="User Name"
									class="form-control fadeIn second"
									
									/>
							</div>



							<div class="mb-3">
							
								<input type="text"
									ngModel 
									name="userPassword"  
									id="userPassword" required
									placeHolder="User Password"
									class="form-control fadeIn third"
									/>
								
							</div>


							<input type="submit"  class="btn btn-outline-primary form-control  fadeIn forth"
								value="Login!" />
						</div>
					</form>
				</div>

			
			</div>
			<div class="col" style="margin:0 auto;">


				<img  class="mx-auto d-block heroimage fadeIn first" style="max-width: 70%; border:1px solid grey; border-radius:5px;"
					src="assets/images/FAQPageImage.jpeg">
			</div>
		</div>

	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

            
  
         
