/* .page{
    min-height:100vh;
    justify-content:center;
    align-items:center;
    
    
     background-image: linear-gradient(to right,#000428 ,#004e92);

} */

/*
background-image: linear-gradient(to left top,#FB0712,#124FEB);

 background-image: linear-gradient(to left top,#a746aa,#5217F7);**/