

	
	<div class="section">
        <div class="container" >
      
		<div class="row">


			<div class="col">
			<!--   <img src="./assets/images/greenmultiNike.png" style="object-fit: contain;" > -->
				<img src="./assets/images/greenNike-.png" > 
				<p id='head1' class='header'> Awesome designs</p>
				<p id='head2' class='header'> Just</p>
				<p id='head3' class='header'> For you</p>
				<p id='head5' class='header' >Order now</p>
			</div>
			
			
			<!--  -->
			<div class="col" style="padding-top:250px;padding-left:20px;">
			
				
			<!-- 	<p id='head6' class='header'> FIND YOUR PERFECT DESIGN </p> -->
					<h1 > FIND YOUR PERFECT DESIGN</h1> 
					

			</div>
		</div>

<div class='light x1'></div>
	<div class='light x2'></div>
	<div class='light x3'></div>
	<div class='light x4'></div>
	<div class='light x5'></div>
	<div class='light x6'></div>
	<div class='light x7'></div>
	<div class='light x8'></div>
	<div class='light x9'></div> 
	</div>
</div>

	





<div class="container" >
  <div class="row" style="padding:30px">
  <h3 style="  display: block;
    margin: auto;justify-content:center; text-align:center; font-weight:bolder; 
    font-size:3em;text-decoration:underline;"> HOW IT WORKS</h3>
    <div class="col-sm " style="text-align: center;padding:25px;" >
  
    <img src="./assets/images/sneakers.png" class="section1Logo"> 
          <h3>Pick a Style  </h3>
         <p>Select the look from the gallery. 
         We have a wide variety of shoes design in our gallery.
         Check the latest design added.</p>
         </div>
 
    <div class="col-sm " style="text-align: center;padding:25px;" >
      <img src="./assets/images/sneakersBlue.png" class="section1Logo"> 
    <h3> Get Creative </h3>
    <p>Enlighten us with your creative design, 
    get creative with radient colors and help us design your dream shoe.</p>
    
    </div>
    <div class="col-sm"  style="text-align: center;padding:25px;">
      <img src="./assets/images/shoes.png" class="section1Logo"> 
    <h3> Get Impressed</h3>
      <p>Let us impress you with the transformation.  </p>
    </div>
  </div>
</div>





  <div class="row" style="padding:30px;background-color:black" >
  <h3 style="  display: block;
    margin: auto;justify-content:center; 
    text-align:center; font-weight:bold; font-size:1.5em;
    text-decoration:underline;color:white;">
    
    TURN YOUR INSPIRATION INTO DESIGN</h3>
    <div class="col-sm " style="text-align: center;padding:10px;" >
  
    <img src="./assets/images/toystory.png" class="inspiration"> 
       
         </div>
 
    <div class="col-sm " style="text-align: center;padding:10px;" >
      
  <!--  <p>Each design varies from client to client, My goal is to satisfy the Client
    and meet the client requirement. Producing consistently excellent visual work. Producing a host of ideas,
    selecting the best ones.</p> -->
     <img src="./assets/images/pinkkidsshoes.jpg" class="inspiration">  
       
         </div>
  
    <div class="col-sm"  style="text-align: center;padding:10px;">
    
    
    <img src="./assets/images/vakentina.jpeg" class="inspiration"> 
    </div>

  </div>


<!-- 	<h3>How it Works</h3> -->






<div class="container">
  <div class="row">
    
    <span style="padding:20px"></span>
    </div>
  <div class="row">
<!--     <div class="col p-3">
    
    
     <iframe  src="./assets/video/artistAtWork.mp4"  style='width: auto; height:500px;justify-content:left;'>
      </iframe>
   

    </div> -->
    
   




<div class="container">
<div class="row">


 <div class="col">
     <h3  style="  display: block;
    margin: auto;justify-content:center; 
    text-align:center; font-weight:bold; font-size:2em;
    text-decoration:underline;color:black; padding:15px;">Our designer at work</h3>
     <p style="color:black;">
     Each design varies from client to client, 
     My goal is to satisfy the Client and meet the client requirement. 
     Producing consistently excellent visual work. Producing a host of
    ideas, selecting the best ones. 
     </p>
    </div>



</div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
                    <img src="./assets/images/FAQPageImage.jpeg" alt=""  style=" width: 100%; height: 300px; ">
                    <div class="overlay">
                        
                        <p class="h4">Space Jam</p>
                        <p class="textmuted">Inspiration: Loonie Toon</p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                    
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
                    <img src="./assets/images/indexImage2.jpg" alt=""  style=" width: 100%; height: 300px;">
                    <div class="overlay">
                    
                        <p class="h4">Blue Buterflies</p>
                        <p class="textmuted">Inspiration: Nature - color of sky </p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
              <img src="./assets/images/indexImage3.jpg" alt=""  style=" width: 100%; height: 300px;">
                    <div class="overlay">
                
                        <p class="h4">Bakuman</p>
                        <p class="textmuted">Inspiration: Anime production</p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
                    <img src="./assets/images/blueandwhite.jpeg" alt=""  style=" width: 100%; height: 300px;">
                    <div class="overlay">
                 
                        <p class="h4">Abstract</p>
                        <p class="textmuted">Inspiration: Abstract</p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
                    <img src="./assets/images/raptors.jpeg" alt="" 
                    style=" width: 100%; height: 300px;">
                    <div class="overlay">
                        
                        <p class="h4">Raptors</p>
                        <p class="textmuted">Inspiration: Canadian BasketBall</p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 px-0 ">
                <div class="image">
                    <img src="./assets/images/bluenike.jpeg"  style=" width: 100%; height: 300px; " alt="">
                    <div class="overlay">
                   
                         <p class="h4">Tiffany & Co</p>
                        <p class="textmuted">Inspiration: Nature</p>
                        <ul class="list-unstyled d-flex ">
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            <li><span class="fas fa-star"></span></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






<!--    <div class="col">
   
      <img src="./assets/images/pinkkidsshoes.jpg"  class="leftImage"> 
  
    </div>
    <div class="col">
     <h3  style="  display: block;
    margin: auto;justify-content:center; 
    text-align:center; font-weight:bold; font-size:2em;
    text-decoration:underline;color:black; padding:15px;">Our designer at work</h3>
     <p style="color:black;">
     Each design varies from client to client, 
     My goal is to satisfy the Client and meet the client requirement. 
     Producing consistently excellent visual work. Producing a host of
    ideas, selecting the best ones. 
     </p>
    </div>
    
    
       <div class="col">
   
      <img src="./assets/images/pinkkidsshoes.jpg"  class="rightImage"> 
  
    </div>
  </div>
    <div class="row">
    
    <span style="padding:200px"></span>
    </div>
  </div> -->
<!-- 
<div style= "background-image: linear-gradient(to left top,#FB0712,#124FEB); max-height: 1000px ;object-fit: none; ">
<div class="container" style="  background-image: linear-gradient(to left top,#FB0712,#124FEB);  " >
	<div class="row" >
		<div class="col" >
			<div id="carouselExampleSlidesOnly" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">


					<div class="carousel-item active" >


						<img src="./assets/images/greenNike-.png" style="   opacity: 0.9;transform: rotate(-25deg);   height:300px" class="d-block w-100">
					</div>


					<div class="carousel-item">
						<img src="./assets/images/Index.jpeg" class="d-block w-100" style="max-height: 700px"
							alt="...">
					</div>
					<div class="carousel-item">
						<img src="./assets/images/indexImage2.jpg" class="d-block w-100"
							alt="..." style="max-height: 700px">
					</div>
				</div>

			</div>
		</div>


	</div>
</div>
</div> 



-------------
<div
	style="background-image: linear-gradient(to left top, #FB0712, #124FEB);">
	<div class="container"
		style="background-image: linear-gradient(to left top, #a746aa, #5217F7)">
		<div class="row">
			<div class="col">

				<img src="./assets/images/greenNike-.png">
					
			</div>



          <div class="col">
<h1> Customization Starts here</h1>
				
			</div>
		</div>


	</div>
</div>
<div>






</div>

 -->






